/* index.html의 <main>부분만 디자인하는 css */
main {
    max-width:100%;
    min-width:320px;
}

/* 메인배너 스와이퍼 디자인 */
/* * {margin:0; padding:0; line-height:1.0; box-sizing:border-box;} */
main .main {width:100%; height:714px; position:relative;}
main .main .swiper-wrapper {}
main .main .swiper-wrapper .swiper-slide {
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
main .main .swiper-wrapper .slide1 {
    background-image:url(../images/mainBnr_01.png);
}
/* main .main .swiper-wrapper .slide2 {background:yellow;} */
main .main .swiper-wrapper .slide3 {background:green;}
main .main .swiper-wrapper .slide4 {background:blue;}

/* 스와이퍼 페이지네이션 디자인 */
main .main .swiper-pagination {
    background:blue; width:40px; height:40px;
    z-index:999;
    position:absolute;
}
main .main .swiper-pagination .swiper-pagination-bullets {background:yellow;} /* swiper-pagination-bullets */

/* 스와이퍼 이전, 다음버튼 디자인 */
.swiper-button-next:after, .swiper-button-prev:after {
    display:none; /* 스와이퍼 이전,다음버튼 기본디자인 삭제 */
}
main .main .swiper-button-next, main .main .swiper-button-prev {
    width:70px; height:70px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute; 
}
main .main .swiper-button-prev {
    background-image:url(../images/mainBnr_prev.png);
    left:110px;
}
main .main .swiper-button-next {
    background-image:url(../images/mainBnr_next.png);
    right:110px;
}

/* 2행 스와이퍼 */
.category {width:1420px; height:199px; /* 원하는 스와이퍼 전체 크기 */}
.category .swiper-wrapper {}
.category .swiper-wrapper .swiper-slide {/* 개별슬라이드 값 설정 */
    width:160px; height:199px;
}

/* 5행(선물하기) 스크롤 스와이퍼 */
.gift {width:720px; height: 550px;/* 원하는 스와이퍼 전체 크기 */}
.gift .swiper-wrapper {}
.gift .swiper-wrapper .swiper-slide {/* 개별슬라이드 값 설정 */
    width:616px; height:170px;
    padding-right: 20px;
    border: 1px solid red;
    margin-bottom: 34.5px;
}
#row5_gift .bottom {display:flex;}

/* 6행(아티클) 가로스크롤 스와이퍼 */
.article {width:1066px; height:461px;}
.article .swiper-wrapper {}
.article .swiper-wrapper .swiper-slide {width:350px; height:418px;}

/* 7행(영상영역) 페이지번호,이전다음버튼 스와이퍼 */
main #row7_video {}
main #row7_video .video {width:1200px; height:600px;}
main #row7_video .video .swiper-wrapper {}
main #row7_video .video .swiper-wrapper .swiper-slide {}
main #row7_video .video .swiper-wrapper .swiper-slide.slide1 {background:red;}
main #row7_video .video .swiper-wrapper .swiper-slide.slide2 {background:green;}
main #row7_video .video .swiper-wrapper .swiper-slide.slide3 {background:yellow;}

/* 반응형규칙 */
@media screen and (max-width:1023px){/* 태블릿 */
    /* 기존css에서 달라지는 값만 작성 */
    html {border:2px solid red;}
}/* media 768~1023 end */
@media screen and (max-width:767px){/* 모바일 */
    html {border:2px solid blue;}
}/* media 320~767 end */